$green: #55886f;
$dark-green: #3f6552;
$gray: #383938;
$background: #f6f6f6;
$red: #8c4646;
$darkred: #482424;

*{
	@include transitionSpeed;
	font-family: 'Alegreya Sans', sans-serif;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body{
	height:100%;
}

.wrapper{
	min-height: 100%;
	height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
	height: 100%;
	// margin: 0 auto 200px; /* the bottom margin is the negative value of the footer's height */
}

body{
	background: $background;
}
a{
	text-decoration:none;
}
h1, h2, h3, h4, h5{
	margin:0;
}
.container{
	width: 80%;
	max-width: 1200px;
}

nav{
	.container{
		height:100%;
	}
}

	.top-bar{
		height: 100px;
	}
		.logo{
			height: 100%;
			width: 25%;
			float:left;
			position:relative;
			svg{
				@extend %vertical-align;
				display:block;
				height: 80%;
			}
			a{
				display:block;
				height:100%;
				width:100%;
			}
		}
		.vision-statement{
			width: 75%;
			height:100%;
			float:left;
			position:relative;
			span{
				display:block;
				text-align:right;
				font-size: 20px;
  				line-height: 100%;
				@extend %vertical-align;
			}
		}

	.nav-links-bar{
		@include linearGradient(rgba($green, 0), rgba(black, .4), $green);
		width:100%;
		height: 50px;
	}
		.nav-links{
			@extend %display-flex;
			@extend %justify-content-space-around;
			list-style-type:none;
			width: 70%;
	  		margin: 0 auto;
	  		height: 50px;
	  		line-height: 50px;
	  		li{
	  			position:relative;
	  			color:white;
	  			text-transform:uppercase;
	  			font-size: 23px;
	  			margin: 0;
	  			width: 20%;
	  			text-align:center;
	  			&:hover{
	  				background: rgba($green, .5);
	  			}
	  			a{
	  				@extend %full-link;
	  			}
	  		}
		}

.home-slider{
	height: 400px;
	overflow:hidden;
	position:relative;
	div, ul, li, img{
		height:100%;
	}
	img{
		  min-width: 100%;
		  height: auto;
		  min-height: 100%;
	}
	.caption-wrap{
		@include linearGradientNoBackground(rgba($gray, .7), rgba($gray, .7));
		position:absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		.caption{
			@include translateXY(-50%, -50%);
			left:50%;
			top:50%;
			position:absolute;
			bottom:0;
			color:white;
			width: 50%;
			height: auto;
			text-align:center;
			font-size: 20px;
		}
	}
}

.box{
	@include boxShadow;
	background: white;
	border-radius: 0px;
	padding: 10px;
	position:relative;
}
	.home-box{
		  margin: 75px 0 0 0px;
		   padding: 25px 25px 40px 25px;
	}
		.box-label{
			display:block;
			position: absolute;
			background: $red;
			color:white;
			text-transform:uppercase;
			font-weight:100;
		  	top: -40px;
		  	left: 0;
		  	height: 40px;
		  	width: 15%;
		  	min-width: 250px;
		  	line-height: 40px;
		  	font-size: 30px;
		  	text-align:center;
		}
			.label-edge{
				  position: absolute;
				  right: -30px;
				  bottom: 0;
				  height: 100%;
			}
		.home-span{
			text-align:center;
			font-size: 25px;
	  		line-height: 100%;
		}
		.learn-more{
			position:absolute;
			bottom: 5px;
			right: 10px;
			color: $red;
			font-size: 21px;
			&:hover{
				color: $darkred;
			}
		}
		.aims-box{
			text-align:center;
			span,p{
				display:block;
				width:100%;
			}
			span{
				margin-bottom: 15px;
				font-size: 20px;
  				font-weight: 600;
			}
			p{
				margin-top:15px;
				  font-size: 18px;
  				line-height: 22px;
			}
		}
			div.aim-icon{
				height: 120px;
				svg{
					height:100%;
				}
				&:hover{
					@include translateXY(0, -5px);
				}

			}
		.work-box{
			height: 300px;

			  padding: 10px 25px 75px 25px;
			div{
				height:100%;
				  min-height: 250px;
			}
			.row{
				@extend %vertical-align;
			}
			p{
				  font-size: 20px;
  				line-height: 22px;
  				  margin-bottom: 0;
			}
		}
			.work-list{
				list-style-type:none;
				font-size: 20px;
				margin: 0px 0 0 50px;
				  padding-top: 15px;
			}
			.work-image{
				@include clipPath;
				background: url('http://www.tilgry.org/wp-content/themes/tilgry-theme/img/people.jpg');
				background-size:cover;
				background-position:center;

			}



.cta-bar{
	width: 100%;
	height: 150px;
	background: $red;
	margin: 25px 0;
	position:relative;
	h2{
		@extend %vertical-align;
		color:white;
		z-index: 1;
	}
	a{
		@extend %button;
		display:block;
		z-index: 1;
	}
}
	.cta-container{
		height:100%;
		width: 75%;
		& > div{
			height: 100%;
			  text-align: center;
		}
	}
	.cta-button{
		@extend %vertical-align;
		color:white;
		border-color:white;
		height: 50px;
		font-size: 25px;
		font-weight: 100;
		border-width: 2px;
		&:hover{
			background:white;
			color:$gray;
			border-color:white;
		}
		&.donate-cta-button{
			&:hover{
				color: $red;
			}
		}
	}
	.first-cta-bar{
		background: url('http://www.tilgry.org/wp-content/themes/tilgry-theme/img/ctabackground.jpg');
		background-attachment:fixed;
		background-size: cover;
		background-position:center;
	}
	.background-cover{
		position:absolute;
		width:100%;
		height:100%;
		left:0;
		top:0;
		background: rgba($gray, .3);
	}

footer{
	height: 200px;
	width:100%;
	background: $gray;
	padding: 25px;
	text-align:center;
	color:white;
	margin-top:50px;
}
	.footer-container{
		@extend %vertical-align;
	}
		.footer-logo-holder{
			position:relative;
			height: 75px;
			width: 200px;
			margin: 0 auto;
			svg{
				height:100%;
				path{
					fill: white;
				}
			}
		}
		.footer-nav-links{
			font-weight: 100;
			li{
				&:hover{
					background: none;
					margin-top: -2px;
				}
			}
		}
		.copyright{
			  border-top: 1px solid white;
			  display: block;
			  width: 50%;
			  margin: 15px auto 0 auto;
			  padding: 10px;
		}


.mobile-menu-toggle{
	display:none;
}
.mobile-nav-links{
	display:none!important;
}
.mobile-menu-toggle{
	position:absolute;
	top: 15px;
	left:15px;
	z-index: 1;
	&:hover{
		cursor:pointer;
	}
}

#close-mobile-menu{
	display:none;
	  width: 50px;
  	height: 50px;
  	position: absolute;
  	top: 25px;
  	left: 25px;
  	z-index: 1;
  	&:hover{
  		cursor:pointer;
  	}
	 svg{
	  	height:100%;
	  	width:100%;
	  }
}

.open-mobile-menu{
	-moz-transform: translatey(0)!important;
	-ms-transform: translatey(0)!important;
	-o-transform: translatey(0)!important;
	-webkit-transform: translatey(0)!important;
	transform: translatey(0)!important;
}

