@media screen and (max-width: 992px){
	.container{
		width: 95%;
	}
	.logo{
		width: 40%;
	}
	.vision-statement{
		width: 60%;
		span{
			font-size: 18px;
		}
	}

}

@media screen and (max-width: 640px){
	
}