@media screen and (max-width: 1200px){

	.nav-links{
		width: 85%;
		li{
			font-size: 20px;
		}
	}
	.cta-container{
		width: 90%;
	}
	.page-container{
		width: 90%;
	}
	.page-box{
		.contact-half{
			width:48%;
			&:first-child{
				margin: 0 2% 0 0;
			}
			&:last-child{
				margin: 0;
			}
		}
	}	
	.work-box{
		height: 365px;
	}
}

@media screen and (max-width: 992px){
	.container{
		width: 95%;
	}
	.logo{
		width: 40%;
	}
	.vision-statement{
		width: 60%;
		span{
			font-size: 18px;
		}
	}
	.nav-links{
		width: 100%;
	}
	.home-slider{
		.caption-wrap{
			.caption{
				width: 90%;
			}
		}
	}
	.cta-container{
		div.columns{
			width: 50%; 
			margin:0;
		}
	}
	.cta-bar{
		h2{
			  font-size: 35px;
		}
	}
	a.donate-button{
		width: 75%;
	}
}

@media screen and (max-width: 776px){
	.top-bar{
		height: 150px;
	}
	.logo{
		svg{
			height: 65%;
		}
	}
	.nav-links{
		li{
			  font-size: 16px;
		}
	}
	.cta-bar{
		h2{
			font-size: 30px;
		}
	}
	.page-main{
		margin-top: 115px;
	}
	.header-banner-container{
		height: 115px;
	}
	.page-box{
		.contact-half{
			width: 100%;
			margin: 0;
			p{
				margin-bottom: 10px;
			}
		}
	}
	.work-box{
		height: 465px;
	}
}

@media screen and (max-width: 640px){
	.top-bar{
		height: 200px;
	}
		.logo, .vision-statement{
			width:100%;

		}
		.vision-statement{
			height: 95px;
			margin-top: 7px;
			span{
				text-align:center;
				font-size: 16px;
			}
		}
		.logo{
			height: 100px;
			height: 70px;
  			margin-top: 15px;
			svg{
				margin: 0 auto;
				height: 100%;
			}
			a{
				width: 50%;
  				margin: 0 auto;
			}
		}
	.mobile-menu-toggle{
		display:block;
	}
	.nav-links-bar{
		height: 25px;
	}
	.nav-links{
		@include offScreen;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba($background, .95);
		z-index: 2;
		display:block;
		li{
			width:100%;
			color: $green;
			&:hover{
				color:white;
			}
		}
	}
	.footer-nav-links{
		display:none;
	}
	div.home-slider{
		height: 250px;
		.caption-wrap{
			.caption{
				@include translateXY(-50%, 0);
				top: 0;
				width: 100%;
				font-size: 16px;
  				line-height: 19px;
  				margin-top: 35px;
			}
		}
	}
	.cta-bar{
		height: auto;
		h2{
			@include translateXY(0,0);
		}
		div:first-child{
			 margin-bottom: 15px;
		}
	}
		.cta-container{
			padding: 25px;
			div.columns{
				width:100%; 
			}
		}
			.cta-button{
				@include translateXY(0,0);
				top: auto;
			}
	.aims-box{
		padding-top: 0;
		div.columns{
			width:100%;
			margin: 0;
		}
	}
		div.aim-icon{
			height: 75px;
		}
	.work-box{
		height: auto;
		.row{
			@include translateXY(0,0);
		}
		div{
			width: 100%;
		}
	}
	.learn-more{
		width:100%;
		text-align:center;
		font-size: 17px;
		right:0;
	}
	#close-mobile-menu{
		display:block;
	}
	.page-box{
		padding: 20px;
	}
	.donate-options{
		div.columns{
			width:100%;
			margin: 0 auto;
			&:first-child{
				margin-bottom: 25px;
			}
		}
		svg{
			width: 150px;
		}
	}
}