@mixin transitionSpeed{
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
}

%button{
	  border: 2px solid white;
	  border-radius: 4px;
	  text-align: center;
	  padding: 0 20px;
	  line-height: 50px;
}

%display-flex{
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

%justify-content-space-around{
	-webkit-justify-content: space-around;
	justify-content:space-around;
	-ms-flex-pack: space-around;
}

%justify-content-center{
	-webkit-justify-content: center;
	justify-content:center;
	-ms-flex-pack: center;
}

%full-link{
	position:absolute;
	width:100%;
	height:100%;
	left:0;
	top:0;
}

%text-universals{
	text-transform:uppercase;
	color:white;
}

%vertical-align{
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

%vertical-align-tweak{
	-webkit-transform: translateY(50%);
	-moz-transform: translateY(50%);
	-ms-transform: translateY(50%);
	transform: translateY(50%);
}

%droid-sans{
	font-family: 'Droid Sans', sans-serif;
}

@mixin translateX($value:-50%){
	-webkit-transform: translateX($value);
	-moz-transform: translateX($value);
	-ms-transform: translateX($value);
	transform: translateX($value);
}

@mixin translateXY($x, $y){
	-webkit-transform: translate($x, $y);
	-moz-transform: translate($x, $y);
	-ms-transform: translate($x, $y);
	transform: translate($x, $y);
}

@mixin verticalAlign($top: 50%, $percent: -50%){
	position: relative;
	top: $top;
	-webkit-transform: translateY($percent);
	-moz-transform: translateY($percent);
	-ms-transform: translateY($percent);
	transform: translateY($percent);
}

@mixin boxShadow($value1: 0px, $value2: 0px, $value3: 3px, $value4: 0px, $color: rgba($gray, .5)){
	box-shadow: $value1 $value2 $value3 $value4 $color;
	-moz-box-shadow: $value1 $value2 $value3 $value4 $color;
	-webkit-box-shadow: $value1 $value2 $value3 $value4 $color;
}

@mixin opacity($opacity:.2){
	opacity: $opacity;
	filter: alpha(opacity=$opacity); /* For IE8 and earlier */
}

@mixin blur{
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
}

@mixin linearGradient($first, $second, $color){
	background: -webkit-linear-gradient(
      $first, $second), $green;
	background: -mox-linear-gradient(
      $first, $second), $color;
	background: -o-linear-gradient(
      $first, $second), $color;
	background: -o-linear-gradient(
      $first, $second), $color;
}

@mixin linearGradientNoBackground($first, $second){
	background: -webkit-linear-gradient(
      $first, $second);
	background: -mox-linear-gradient(
      $first, $second);
	background: -o-linear-gradient(
      $first, $second);
	background: -o-linear-gradient(
      $first, $second);
}

@mixin clipPath{
	-webkit-clip-path: polygon(5% 0, 100% 0, 100% 100%, 5% 100%, 5% 60%, 0 50%, 5% 40%);
	clip-path: polygon(5% 0, 100% 0, 100% 100%, 5% 100%, 5% 60%, 0 50%, 5% 40%);
}
