.overflow-hidden{
	overflow: hidden;
}

@mixin transitionSpeed{
	transition: all .1s ease-in-out, font-size 0s ease-in-out, line-height 0s ease-in-out;
}

@mixin offScreen($value: -250%){
	transform: translatey($value);
}

%button{
	border: 2px solid white;
	border-radius: 4px;
	text-align: center;
	padding: 0 20px;
	line-height: 50px;
}

%display-flex{
	display: flex;            
}

%justify-content-space-around{
	justify-content:space-around;
}

%justify-content-center{
	justify-content:center;
}

%full-link{
	position:absolute;
	width:100%;
	height:100%;
	left:0;
	top:0;
}

%text-universals{
	text-transform:uppercase;
	color:white;
}

%vertical-align{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

%vertical-align-tweak{
	transform: translateY(50%);
}

%droid-sans{
	font-family: 'Droid Sans', sans-serif;
}

@mixin translateX($value:-50%){
	transform: translateX($value);
}

@mixin translateXY($x, $y){
	transform: translate($x, $y);
}

@mixin verticalAlign($top: 50%, $percent: -50%){
	position: relative;
	top: $top;
	transform: translateY($percent);
}

@mixin boxShadow($value1: 0px, $value2: 0px, $value3: 3px, $value4: 0px, $color: rgba($gray, .5)){
	box-shadow: $value1 $value2 $value3 $value4 $color;
}

@mixin opacity($opacity:.2){
	opacity: $opacity;
}

@mixin blur{
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
}

@mixin linearGradient($first, $second, $color){
	background: -webkit-linear-gradient(
      $first, $second), $green;
	background: -mox-linear-gradient(
      $first, $second), $color;
	background: -o-linear-gradient(
      $first, $second), $color;
	background: linear-gradient(
      $first, $second), $color;
}

@mixin linearGradientNoBackground($first, $second){
	background: -webkit-linear-gradient(
      $first, $second);
	background: -mox-linear-gradient(
      $first, $second);
	background: -o-linear-gradient(
      $first, $second);
	background: linear-gradient(
      $first, $second);
}

@mixin clipPath{
	clip-path: polygon(5% 0, 100% 0, 100% 100%, 5% 100%, 5% 60%, 0 50%, 5% 40%);
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    margin-top: 10px;
    // transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    margin-top: 0;
    // -webkit-transform: none;
    // transform: none;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    margin-top: 10px;
  }

  100% {
    opacity: 1;
    margin-top: 0;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
